@model Studenten_Volg_Systeem.ViewModels.StudentCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.Firstname" class="control-label"></label>
                <input asp-for="Student.Firstname" class="form-control" />
                <span asp-validation-for="Student.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Middelname" class="control-label"></label>
                <input asp-for="Student.Middelname" class="form-control" />
                <span asp-validation-for="Student.Middelname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Lastname" class="control-label"></label>
                <input asp-for="Student.Lastname" class="form-control" />
                <span asp-validation-for="Student.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Adress" class="control-label"></label>
                <input asp-for="Student.Adress" class="form-control" />
                <span asp-validation-for="Student.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courses" class="control-label"></label>
                <select asp-for="CourseID" asp-items="Model.Courses.Select(m => new SelectListItem { Text = m.Name, Value = m.Id.ToString() })"></select>
                <span asp-validation-for="CourseID" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
